.container
	margin: auto
	min-width: $xs
	max-width: $lg

	+media('sm')
		width: $sm

	+media('md')
		width: $md

.nav-text
.nav-link
	padding: $margin
	float: left

.nav-link
	&:hover
		background-color: darken(white, 5)

	&.active
		background-color: darken(white, 10)

.alert
	margin: $margin 0
	padding: $margin
	color: white
	background: lightcoral

.input
.button
	padding: $margin * .5 $margin

.input
	border: 1px solid lightgray

.button
	border: 0
	border-radius: $radius
	background: steelblue
	color: white
	cursor: pointer

.form-field
	margin: $margin 0

	.input
		width: 100%

.auth-form
	width: 300px

	+media('xs')
		width: auto