.container
	margin: auto
	min-width: $xs
	max-width: $lg

	+media('sm')
		width: $sm

	+media('md')
		width: $md

.nav-link
	padding: $margin
	display: inline-block

	&:hover
		background-color: darken(white, 5)

	&.active
		background-color: darken(white, 10)

.form-field
	margin-top: $margin

.input,
.button
	padding: $margin * 0.5